<%- include('./partials/head.ejs') %>

<header></header>

<main>
  <section class="left-side-information">
    <table border="1" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Skigebied</th>
          <th>Dorp</th>
          <th>Accommodatie</th>
          <th>Kamertype</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <table border="1" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>23-12-2023</th>
          <th>30-12-2023</th>
          <th>06-01-2024</th>
          <th>13-01-2024</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</main>

<%- include('./partials/foot.ejs') %>
