* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-non-av: #e32222;
  --color-av: #66c836;
  --boxshadow: #4c4c4c94;

  --table-color: #009879;
  --light-text: #fff;
  --dark-text: #000;

  --border: #dddddd;
}


body {
  width: 100%;
  font-size: 10px;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
}

/* ------------HEADER-------------- */

header {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  height: 6rem;
  border-radius: 0 0 0.6rem 0.6rem;
}

header img {
  width: 140px;
}

/* -------------------------------- */

/* --------------NAV--------------- */

nav {
  background-color: var(--table-color);
  margin-bottom: 1rem;
  padding: 0.2rem;
  height: 5rem;
}

.dropdown {
  max-width: 13em;
  margin: 40px;
  position: relative;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.dropdown-btn {
  background: #1d1f24;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  width: 100%;
}

.dropdown-content li {
  background: #2f3238;
  border-radius: 0.5em;
}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
}

.dropdown-content {
  /* ... */
  visibility: hidden;
  overflow: hidden;
}

.dropdown-btn:focus-within + .dropdown-content {
  visibility: visible;
} 

.dropdown-btn:focus-within > .arrow {
  transform: rotate(180deg);
}

.dropdown-content li {
  /* ... */
  position: relative;
  left: 100%;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--delay));
}

.dropdown-btn:focus-within + .dropdown-content li {
  left: 0;
}


/* -------------------------------- */

/* --------------MAIN-------------- */

main {
  /* display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  box-shadow: 0 0 30px var(--boxshadow);
  width: 100%;
  overflow-x: scroll; */
  width: 100%;
}

.information-data {
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  box-shadow: 0 0 30px var(--boxshadow);
  width: 100%;
  overflow-x: scroll;
}

table {
  white-space: nowrap;
  width: 100%;
}

table thead tr {
  background-color: var(--table-color);
  color: var(--light-text);
  text-align: center;
}

thead {
  height: 50px;
}

th,
td {
  padding: 12px 15px;
}

tbody td {
  border-bottom: 1px solid var(--border);
  text-align: center;
}

tbody td:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody td:last-of-type {
  border-bottom: 2px solid var(--table-color);
}

#right-side-table {
  overflow-x: scroll;
  width: 50%;
}

#right-side-table td {
  color: white;
  font-size: 16px;
}

#left-side-table {
  width: 50%;
}

#green {
  background-color: var(--color-av);
  border-radius: 0.6rem;
  scale: 0.8;
}

#red {
  background-color: var(--color-non-av);
  border-radius: 0.6rem;
  scale: 0.8;
}

/* -------------------------------- */

/* -------------LOADER------------- */

.svg-loader {
  display: flex;
  position: relative;
  align-content: space-around;
  justify-content: center;
}
.loader-svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: rgb(64, 0, 148);
}
.loader-svg.bg {
  stroke-width: 8px;
  stroke: rgb(207, 205, 245);
}

.animate {
  stroke-dasharray: 242.6;
  animation: fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
}

@keyframes fill-animation {
  0% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }
  100% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}
