* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 12px;
}

header {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  height: 6rem;
  background-color: antiquewhite;
  border-radius: 0 0 0.6rem 0.6rem;
}

header img {
  width: 140px;
}

main {
  width: 100%;
}

.information {
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  box-shadow: 0 0 50px rgba(76, 76, 76, 0.581);
}

table {
  width: 100%;
  overflow-x: scroll;
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

thead {
  height: 50px;
}


th,
td {
  height: 0.5rem;
  padding: 12px 15px;
  height: 10px;
}
#datum {
  color: white;
  background-color: green;
}

tbody td {
  border-bottom: 1px solid #dddddd;
}

tbody td:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody td:last-of-type {
  border-bottom: 2px solid #009879;
}



#green {
  background-color: rgb(85, 255, 0);
  width: 30%;
  height: 10px;
}

#red {
  background-color: rgb(255, 0, 0);
  width: 30%;
  height: 10px;
}

/* loader */

.svg-loader{
  display:flex;
  position: relative;
  align-content: space-around;
  justify-content: center;
}
.loader-svg{
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: rgb(64, 0, 148);
}
.loader-svg.bg{
  stroke-width: 8px;
  stroke: rgb(207, 205, 245);
}

.animate{
  stroke-dasharray: 242.6;
  animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
}

@keyframes fill-animation{
  0%{
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }
  100%{
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}